{% extends 'base.html.twig' %}

{% block title %}Supplier index{% endblock %}

{% block body %}
    <h1>Supplier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Supplier_name</th>
                <th>Contact_person</th>
                <th>Contact_number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.supplierName }}</td>
                <td>{{ supplier.contactPerson }}</td>
                <td>{{ supplier.contactNumber }}</td>
                <td>
                    <a href="{{ path('app_supplier_show', {'id': supplier.id}) }}">show</a>
                    <a href="{{ path('app_supplier_edit', {'id': supplier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_supplier_new') }}">Create new</a>
{% endblock %}
