{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product_name</th>
                <th>Category</th>
                <th>Supplier</th>
                <th>Cost_price</th>
                <th>Selling_price</th>
                <th>Unit_stock</th>
                <th>Delivery_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.productName }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.supplier }}</td>
                <td>{{ product.costPrice }}</td>
                <td>{{ product.sellingPrice }}</td>
                <td>{{ product.unitStock }}</td>
                <td>{{ product.deliveryDate }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
