{% extends 'base.html.twig' %}

{% block title %}Employee{% endblock %}

{% block body %}
    <h1>Employee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Employee_name</th>
                <td>{{ employee.employeeName }}</td>
            </tr>
            <tr>
                <th>Employee_username</th>
                <td>{{ employee.employeeUsername }}</td>
            </tr>
            <tr>
                <th>Employee_password</th>
                <td>{{ employee.employeePassword }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employee_index') }}">back to list</a>

    <a href="{{ path('app_employee_edit', {'id': employee.id}) }}">edit</a>

    {{ include('employee/_delete_form.html.twig') }}
{% endblock %}
